<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Drawing of lot</title>
		<link href="libs/vendors/bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="libs/vendors/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="libs/app-style.css" rel="stylesheet">
	</head>
	<body>
	<div class="container-narrow">

		<div class="masthead">
			<ul id="menu" class="nav nav-pills pull-right">
				<li class="nav-home active"><a href="#home"><i class="icon-home icon-white"></i> Home</a></li>
				<li class="nav-people"><a href="#people"><i class="icon-user icon-white"></i> People</a></li>
				<li class="nav-draw"><a href="#draw"><i class="icon-random icon-white"></i> Draw</a></li>
			</ul>
			<h1 class="muted">Drawing of lot</h1>
		</div>

		<hr>

		<div id="page-home" class="page-container">
			<div class="jumbotron">
				<h1>Tirage au sort entre amis!</h1>
				<p class="lead">Ce site à pour vocation d'effectuer un tirage au sort entre amis ou famille. Le principe est simple, chaque personne offre à qu'un d'autre un cadeau.</p>
				<a class="btn btn-large btn-success" href="#people">Configure people</a>
			</div>
		</div>

		<div id="page-people" class="page-container hide">
			<h2>Configure people</h2>
			<div class="row-fluid">
				<div class="span6">
					<label class="control-label" for="inputPerson">Name</label>
					<input type="text" id="inputPerson" placeholder="Add new person">
				</div>
				<div class="span6" id="content-group">
				</div>
			</div>

			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>Group</th>
						<th style="width:50px;">Action</th>
					</tr>
				</thead>
				<tbody id="listOfPeople"></tbody>
			</table>

			<!-- Templates -->
			<script type="text/template" id="template-item-person">
				<td>#</td>
				<td><%- name %></td>
				<td>Group <%- group %></td>
				<td><a class="btn btn-small btn-danger destroy" title="Delete Person"><i class="icon-remove icon-white"></i></a></td>
			</script>
			<script type="text/template" id="template-content-group">
				<label class="control-label">Group</label>
				<div class="input-prepend input-append">
					<button class="btn" type="button" id="btnGroupDown">-</button>
					<input class="span3" id="labelGroup" value="Group <%- current_group %>" readonly="readonly" type="text">
					<input type="hidden" id="inputGroup" value="<%- current_group %>" >
					<button class="btn" type="button" id="btnGroupUp">+</button>
				</div>
			</script>

		</div>

		<div id="page-draw" class="page-container hide">
			<h2>Launch the draw</h2>
		</div>

		<hr>

		<div class="footer">
			<p>&copy; Jean-Baptiste Delhommeau 2012</p>
		</div>

	</div>
	</body>
	<script src="libs/vendors/zepto.min.js"></script>
	<script src="libs/vendors/underscore-min.js"></script>
	<script src="libs/vendors/backbone-min.js"></script>
	<script src="libs/vendors/backbone.localStorage-min.js"></script>
	<script src="libs/app.js"></script>
</html>